<!-- Holo UI Vault: ld-gather (Gather Loader) -->
<!-- Style: micro_motion_indicators | Requires: loadingdev-components/shared/base.css -->
<div class="holo-ui-preview" style="display: flex; align-items: center; justify-content: center; padding: 24px;">
  <div class="ld-gather" aria-hidden="true" style="--ld-size: 24px;">
  <div class="ld-gather-group">
    <div class="ld-gather-block" style="--ld-gather-x: 1; --ld-gather-y: 1;"></div>
    <div class="ld-gather-block" style="--ld-gather-x: -1; --ld-gather-y: 1;"></div>
    <div class="ld-gather-block" style="--ld-gather-x: 1; --ld-gather-y: -1;"></div>
    <div class="ld-gather-block" style="--ld-gather-x: -1; --ld-gather-y: -1;"></div>
  </div>
</div>
</div>
